<div class="submission-window">
    <div class="bodytext">
        {{window.bodyText()|raw}}
    </div>
    {% if window.pending %}
        {# Window hasn't opened yet #}
        <div class="submission-window-status notification notification-notice">
            {% if window.close %}
                Submission period will be {{window.startHR}}
                to {{window.endHR}}
            {% else %}
                Submission window opens {{window.startHR}}
            {% endif %}
        </div>
    {% elseif window.ended %}
        {# Window has ended #}
        <div class="submission-window-status ended notification notification-warning">
            {% if window.open %}
                Submission period was from {{window.startHR}}
                to {{window.endHR}}
            {% else %}
                Submission period ended {{window.endHR}}
            {% endif %}
        </div>
    {% else %}
        {# Window is open #}
        {% if window.close %}
            <div class="submission-window-status open notification notification-confirmation">
                Submission period will close {{window.endHR}}
            </div>
        {% endif %}
    {% endif %}

    {# List existing submissions for current user #}
    {% if window.mySubmissions %}
        <h2>My submissions</h2>
        <ul>
            {% for submission in window.mySubmissions %}
                <li>
                    {% if submission.complete %}
                        {{submission.link|raw}}
                    {% else %}
                        <strong>{{submission.link|raw}} (INCOMPLETE)</strong>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if window.maxperuser %}
            {% if window.mySubmissions|length %}
                <p>You have used {{window.mySubmissions|length}} of {{window.maxperuser}} allowed submissions per user.</p>
            {% else %}
                <p>Maximum submissions per user: {{window.maxperuser}}.</p>
            {% endif %}
        {% endif %}
    {% endif %}
    {# begin submission link if applicable #}
    {% if window.canSubmit %}
        <p><a href="{{window.url('submit')}}" class="cta-button">
            Start new submission
        </a></p>
    {% else %}
        {% if window.maxperuser %}
            {% if window.mySubmissions|length >= window.maxperuser %}
                <p>You have used {{window.mySubmissions|length}} of {{window.maxperuser}} allowed submissions per user.</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>